
$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
//@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

#todoish > div {
  @extend .container;
  padding-top: 30px;

  > h1, .title {
    @extend .display-2;
    @extend .text-primary;
    font-family: 'Great Vibes', cursive;
  }
}

ul {
  @extend .list-group;
  @extend .list-group-flush;
}

.todo-entry {
  @extend .list-group-item;
  display: flex;
  align-items: center;
  list-style-type: none;

  //font-size: 1.25rem;
  //font-weight: 300;

  &[data-done="true"] {
    @media (prefers-color-scheme: light) {
      filter: grayscale(100%) opacity(40%);
    }
    @media (prefers-color-scheme: dark) {
      filter: grayscale(100%) opacity(80%);
    }


    .todo-entry__task {
      text-decoration: line-through;
    }
  }

  &__task {
    width: 100%;
    align-self: center;
  }

  @include hover-focus {
    z-index: 1; // Place hover/focus items above their siblings for proper border styling
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }
}


.btn-todo {
  @extend .rounded-circle;
  flex: none;
  width: 2em;
  height: 2em;
  vertical-align: middle;

  padding: 0;

  margin-right: 1.25rem;
}

.new-todo {
  @extend .form-group;
  @extend .list-group-item;

  &__task {
    border: none;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 .2rem rgba($primary, 60%);
    }
  }

  &__submit {
    @extend .rounded-right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}