$red: #e44232;
$primary: $red;

$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

#app > div {
  @extend .container;
  padding-top: 30px;

  > h1 {
    @extend .display-2;
    @extend .text-primary;
    font-family: 'Great Vibes', cursive;
  }
}

ul {
  @extend .list-group;
  @extend .list-group-flush;

  li {
    @extend .list-group-item;
    @extend .lead;

    &[data-done="true"] {
      filter: grayscale(100%) opacity(50%);
    }
  }
}

button[type=checkbox] {
  @extend .btn;
  @extend .btn-outline-primary;

  display: inline-block;
  vertical-align: middle;

  padding: 6px;

  margin-right: 1.25rem;
  border-radius: 100px;
}

.new-todo {
  @extend .form-group;
  @extend .list-group-item;

  input {
    @extend .form-control;
    border: none;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 .2rem rgba($primary, 60%);
    }
  }
}